# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Виртуальное окружение
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Переменные окружения
.env

# PyCharm
.idea/

# Прочее
.DS_Store
